<div class="jumbotron">
<h1 id="titre">Le Tosma !</h1>
<h3 class="text-center sous-titre">Libérez votre créativité !</h3>
<h1 id="titre2">Ouverture</h1>
<h3 class="text-center sous-titre2">vendredi 27 février 2015 à 18h</h3>
<div class="text-center">
	<a class="twitter-follow-button"
  href="https://twitter.com/_DaoudSimon"
  data-show-count="false"
  data-lang="en">
Follow @_DaoudSimon
</a>
<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>

</div>
</div>
 


<!--  <%= link_to "Par ici le matos !", materiels_path, class: "btn btn-success" %>
<%= link_to "Comment ca marche ?", about_path, class: "btn btn-warning" %> -->