<div class="col-md-3">
<div class="thumbnail">
<%= link_to materiel_path(materiel) do %>
<%= image_tag "70d.jpg", class: "img-responsive" %>
<% end %>
 
<div class="caption">
<p><strong><%= link_to materiel.name, materiel_path(materiel) %></strong></p>
<p>$<%= materiel.price %></p>
</div>
</div>
</div>