<div class="container">
<div class="row">
 
<div class="col-md-6">
<%= image_tag "70d.jpg", class: "img-responsive" %>
</div>
 
<div class="col-md-6">
<div class="col-md-6">
<h3>Canon 7o D</h3>
<p class="justify">
Capteur : CMOS 20.2 Mpx, APS-C (x1,6) , 6.19 Mpx/cm
Objectif : 7.5x 18-135 mm f/3.5 -5.6
Stabilisation : Optique
Viseur : Reflex
Ecran : 7.7 cm, non TN, 1040000 points, 3/2, Monopoint
Sensibilité (plage ISO) : 100 - 12800 ISO ext. 77.5 mm
Mode vidéo : 1920 x 1080 pixels, 30 i/s , Stéréo
Support Externe : SDHC SDXC
Connexions : USB AV télécommande HDMI entrée micro griffe Flash Wi-Fi
Alimentation : Li-Ion LP-E6
Étanche : non</p>
<h4 class="text-right"> Location 50€ / jour</h4>
</div>
 
</div>
</div>
 
<%= link_to "Back", materiels_path  %>