<div class="container">
<div class="row">
 
<div class="col-md-6">
<%= image_tag "fumee.jpg", class: "img-responsive" %>
</div>
 
<div class="col-md-6">
<div class="col-md-6">
<h3>Machine à fumée</h3>
<p class="justify">
Machine à fumée avec 1 télécommande sans fil et une télécommande filaire (câble de 5 m). Résistance de chauffe 1200 Watts. Réservoir de 1,5 litres. Idéal pour mettre en avant les jeux de lumière et renforcer les effets des lasers. Débit : 158 m3 / min, préchauffage entre 8 et 10 min.</p>
<h4 class="text-right"> Location 20€ / jour</h4>
</div>
 
</div>
</div>
 
<%= link_to "Back", materiels_path  %>