<div class="container">
<div class="row">
 
<div class="col-md-6">
<%= image_tag "stroboscope.jpg", class: "img-responsive" %>
</div>
 
<div class="col-md-6">
<div class="col-md-6">
<h3>Stroboscope multicolore</h3>
<p class="justify">
 Vitesse stroboscopique : 1 a 15 flashs/seconde.
• Générateur interne avec réglage de vitesse par potentiometre.
• Cons. electrique : 45W. 
• Dim. mm (L x W x H) 220 x 210 x 260.</p>
<h4 class="text-right"> Location 20€ / jour</h4>
</div>
 
</div>
</div>
 
<%= link_to "Back", materiels_path  %>