<div class="container">
<div class="row">
 
<div class="col-md-6">
<%= image_tag "h4n.jpg", class: "img-responsive" %>
</div>
 
<div class="col-md-6">
<div class="col-md-6">
<h3>Zoom H4N enregistreur portable</h3>
<p class="justify">

Joue le Journaliste avec ce super enregistreur !

Enregistreur portable numérique (WAV/MP3) 4 pistes
Support SD/SDHC jusqu'à 32Go (2Go incl.)
Entrée : 2x XLR / Jack TRS
Sortie : Mini Jack 3.5mm
Micro stéréo X/Y (ouverture 90° ou 120°)</p>
<h4 class="text-right"> Location 50€ / jour</h4>
</div>
 
</div>
</div>
 
<%= link_to "Back", materiels_path  %>