body { 
  margin:0;
  padding:0;
  background: url(media2.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}


.navbar {
	background-color: transparent;
	border: none;
	font-family: 'Bangers', cursive;
	color: #FEFF10 !important;

}

.navbar-brand {
	color: white !important;
    font-family: 'Racing Sans One', cursive;	
    font-size: 40px !important;
   	text-shadow: #000000 0.5px 0.5px, #000000 -0.5px 0.5px, #000000 -0.5px -0.5px, #000000 0.5px -0.5px;


}

.jumbotron {
	margin-top: 200px;
	color: #1D034F;
	float: left;
	text-shadow: white 0.5px 0.5px, white -0.5px 0.5px, white -0.5px -0.5px, white 0.5px -0.5px !important;
	background-color: rgba(255,255,255,0.3) !important;

}


.thumbnail {
	opacity: 0.3;
	filter: alpha(opacity=50);
 	-webkit-transition: opacity 1s linear;
}
	
.thumbnail:hover {
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity 1s linear;
 	box-shadow: white;
}



#titre {
	text-align: center;
	font-family: 'Racing Sans One', cursive;
	color: black;

}

#titre2 {
	text-align: center;
	font-family: 'Racing Sans One', cursive;
	font-size: 50px;
   	color: black !important;
}

.sous-titre {
	font-family: 'Racing Sans One', cursive;
	color: black !important;
	font-size: 50px;
}

.sous-titre2 {
	font-family: 'Racing Sans One', cursive;
	color: white;
	font-size: 50px;
	color: black !important;
}
/* page index materiel */

.page-header {
	font-family: 'Bangers', cursive;
	color: white;
	text-align: center;
	background-color: none;
}

.container {
	color: white;
	background-color: none;
}
