body { 
  margin:0;
  padding:0;
  background: url(media2.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}


.navbar {
	background-color: transparent;
	border: none;
	font-family: 'Bangers', cursive;
	color: #FEFF10 !important;

}

.navbar-brand {
	color: white !important;
    font-family: 'Racing Sans One', cursive;	
    font-size: 40px !important;
   	text-shadow: #090A09 2px 2px, #090A09 2px 2px, #090A09 -2px -1px, #090A09 2px -1px !important;


}

.jumbotron {
	margin-top: 200px;
	float: left;
	text-shadow: black 2px 2px, black -2px 2px, black -2px -2px, black 2px -2px !important;
	background-color: rgba(150,61,255,0.5) !important;

}


.thumbnail {
	opacity: 0.3;
	filter: alpha(opacity=50);
 	-webkit-transition: opacity 1s linear;
}
	
.thumbnail:hover {
	opacity: 1;
	filter: alpha(opacity=100);
 	-webkit-transition: opacity 1s linear;
 	box-shadow: white;
}

#small-text {
	margin-top: 30px;
	font-size: 15px;
}

span {
	color: #0AD100;
}

#titre {
	text-align: center;
	font-family: 'Racing Sans One', cursive;
	color: white;

}

#titre2 {
	text-align: center;
	font-family: 'Racing Sans One', cursive;
	font-size: 40px;
   	color: white !important;
}

.sous-titre {
	font-family: 'Racing Sans One', cursive;
	color: white !important;
	font-size: 40px;
}

.sous-titre2 {
	font-family: 'Racing Sans One', cursive;
	color: white !important;
	font-size: 40px;
}
/* page index materiel */

.page-header {
	font-family: 'Bangers', cursive;
	color: white;
	text-align: center;
	background-color: none;
}

.container {
	color: white;
	background-color: none;
}
